.container{
}
.header{
    flex-direction: column;
    border-bottom: 1px solid var(--grey500);
    padding: 20px;
}
.div-logo{
    display: flex;
    align-items: center;
    margin: 1px 1px 1px 1px;
    gap: 10px;
}
.circle-logo{
    width: 20px;
    height: 20px;
    background-color: #a180ff;
    border-radius: 100%;
}
.title-logo{
    font-size: var(--title-3);
}
.sandwich-button{
    background-color: transparent;
    border: none;
    color: var(--grey100);
    font-size: 50px;
    position: absolute;
    right: 10px;
    top: 0;
    display: flex;
}
.sandwich-button:focus ~ .div-login-and-register{
    display: flex;
  }
.sandwich-button:focus ~ .header{
    flex-direction: column;
    height: 200px;
}
.div-login-and-register{
    display: none;  
}
.login-button-menu{
    width: 141px;
    height: 48px;
    margin: 1px 1px 1px 1px;
    background-color: var(--grey900);
    color: var(--brand100);
    border: 3px solid var(--brand100);
    font-weight: 600;
}
.register-button-menu{
    width: 141px;
    height: 48px;
    margin: 1px 1px 1px 1px;
    background-color: var(--brand100);
    color: var(--grey900);
    font-weight: 600;
}
.main-container{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-left: 0;
    margin-right: 0;
}
.figure-presentation{
    display: none;
  }
.img-presentation{
   
}
.select{
    width: 90vw;
    height: 50px;
    text-align: center;
    background-color: var(--brand100);
    color: var(--grey900);
    border: none;
    font-size: var(--title-3);
}
.interprise-list{
    display: flex;
    /* justify-content: space-between; */
    flex-direction: row;
    width: 90vw;
    background-color: #f5f0f0;
    overflow-y: scroll;
    gap: 30px;
}
.interprise-li{
    background-color: white;
    margin-bottom: 20px;
    padding: 80px;
    border-bottom: 4px solid var(--brand100);
}
.interprise-name{
    font-size: var(--title-4);
    margin-top: 10px;
    margin-bottom: 15px;
}   
.interprise-hour{
    margin-bottom: 15px;
}
.setor-button{
    width: 90px;
    height: 33px;
    border-radius: 30px;
    background-color: var(--grey900);
    border: 2px solid var(--brand100);
    margin-bottom: 15px;
}